<%- include ../../layout/head.ejs %>

<body>
    <%- include ../../layout/nav.ejs %>
    <h1>Selected Book</h1>
    <div class="page">
        <div class="singleBook">
            <div class="title booktitle">
                <%= specificBook.title %>
            </div>
            <div class="author bookauthor">
                <%=specificBook.author%>
            </div>
            <div class="bookimage">
                <img src="<%=specificBook.thumbnail%>" />
            </div>
            <div class="description bookdesc">
                <%=specificBook.description%>
            </div>
            <h3>
                <%=specificBook.isbn%>
            </h3>
            <h3>
                <%=specificBook.bookshelf%>
            </h3>
        </div>
        <div id="Update Menu">
            <!-- <button type="button" id="formButton">Edit the Book!</button> -->
            <form id="form1" action="/book/<%= specificBook.id %>/update" method="POST">
                <input class="editBookInputs" type="text" name="title" value="<%= specificBook.title %>">
                <input class="editBookInputs" type="text" name="author" value="<%=specificBook.author%>">
                <input class="editBookInputs" type="text" name="description" value="<%=specificBook.description%>">
                <input class="editBookInputs" type="text" name="thumbnail" value="<%=specificBook.thumbnail%>">
                <input class="editBookInputs" type="text" name="category" value="<%=specificBook.bookshelf%>">
                <!-- <input type="hidden" name="_method" value="UPDATE"> -->
                <button class="editBookButton">Update Book</button>
            </form>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="../../../js/app.js"></script>

<%- include ../../layout/footer.ejs %>