<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <a href="/book-search">Search for books!</a>


    <% for(let i = 0; i < myData.length; i++){ %>
        <div id="bookView">
            <h1>
                <%= myData[i].title %>
            </h1>
            <h2>
                <%= myData[i].author %>
            </h2>
            <p>
                <%= myData[i].description %>
            </p>
            <img src="<%= myData[i].thumbnail %>" />
            <p>
                <%= myData[i].pagecount %>
            </p>
            <p>
                <%= myData[i].rating %>
            </p>
        </div>
        <div id="Hidden Menu">
            <form action="/book/save" method="post">
                <input type="text" name="title" value="<%= myData[i].title %>">
                <input type="text" name="author" value="<%= myData[i].author %>">
                <input type="text" name="description" value="<%= myData[i].description %>">
                <input type="text" name="thumbnail" value="<%= myData[i].thumbnail %>">
                <input type="text" name="category" required> Category
                <button>Save to Library</button>
            </form>
        </div>
        <% } %>


</body>

</html>