<%- include ../../layout/head.ejs %>

<body>
    <%- include ../../layout/nav.ejs %>
    <% for(let i = 0; i < myData.length; i++){ %>
    <div class="page">
        <div id="bookView">
            <div class="booktitle">
                <%= myData[i].title %>
            </div>
            <div class="bookauthor">
                <%= myData[i].author %>
            </div>
            <div class="bookimage">
                <img src="<%= myData[i].thumbnail %>" />
            </div>
            <div class="bookdesc">
                <%= myData[i].description %>
            </div>

            <p>
                <%= myData[i].pagecount %>
            </p>
            <p>
                <%= myData[i].rating %>
            </p>
        </div>
        <div id="Hidden Menu">
            <button id="<%= 'formButton'+i %>" class="formButton">Add Book to Library!</button>
            <form id="<%= 'formButton'+i+'_form' %>" class="form1" action="/book/save" method="post">
                <input type="text" name="title" value="<%= myData[i].title %>">
                <input type="text" name="author" value="<%= myData[i].author %>">
                <input type="text" name="description" value="<%= myData[i].description %>">
                <input type="text" name="thumbnail" value="<%= myData[i].thumbnail %>">
                <input type="text" name="category" placeholder="Category" required>
                <button>Save to Library</button>
            </form>
        </div>
    </div>
    <% } %>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="../../../js/app.js"></script>


</body>

<%- include ../../layout/footer.ejs %>