<ul>

    <% for(let i = 0; i < myData.length; i++){ %>

        <li>
            <%= myData[i].title %>
        </li>
        <li>
            <%= myData[i].author %>
        </li>
        <li>
            <%= myData[i].description %>
        </li>
        <li>
            <%= myData[i].thumbnail %>
        </li>
        <li>
            <%= myData[i].pagecount %>
        </li>
        <li>
            <%= myData[i].link %>
        </li>
        <li>
            <%= myData[i].rating %>
        </li>

        <% } %>

</ul>