<%- include ../layout/head.ejs %>

<body>
    <%- include ../layout/nav.ejs %>
    <main>

        <h1>Saved Books</h1>
        <h4>Total Books in Database:
            <%= results.length %>
        </h4>

        <% results.forEach((book) => { %>
        <div class="page">
            <div class="eachBook">
                <a href="books/<%= book.id %>">
                    <div class="title booktitle">
                        <%= book.title %>
                    </div>
                </a>
                <div class="author bookauthor">
                    <%=book.author%>
                </div>
                <div class="bookimage">
                    <img src="<%=book.thumbnail%>" />
                </div>

                <div class="description bookdesc">
                    <%=book.description%>
                </div>

            </div>
            <div id="Hidden Menu">
                <form action="/books/<%= book.id %>/delete" method="POST">
                    <input type="hidden" name="title" value="<%= book.title %>">
                    <input type="hidden" name="author" value="<%= book.author %>">
                    <input type="hidden" name="description" value="<%= book.description %>">
                    <input type="hidden" name="thumbnail" value="<%= book.thumbnail %>">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="libbutton">Delete</button>
                </form>
                <form action="/book/<%= book.id %>/update" method="GET">
                    <input type="hidden" name="title" value="<%= book.title %>">
                    <input type="hidden" name="author" value="<%= book.author %>">
                    <input type="hidden" name="description" value="<%= book.description %>">
                    <input type="hidden" name="thumbnail" value="<%= book.thumbnail %>">
                    <button class="libbutton">Update</button>
                </form>
            </div>


        </div>
        <% }); %>
    </main>
</body>
<%- include ../layout/footer.ejs %>
