<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book App</title>

    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">

</head>

<body>
    <main>
        <h1>Saved Books</h1>
        <h4>Total Books in Database:
            <%= results.rows.length %>
        </h4>

        <% results.rows.forEach((book) => { %>
            <div class="eachBook">
                <h1 class="title">
                    <%= book.title %>
                </h1>
                <h2 class="author">
                    <%=book.author%>
                </h2>

                <h2 class="description">
                    <%=book.description%>
                </h2>
                <img src="<%=book.thumbnail%>" />

            </div>
            <div id="Hidden Menu">
                <form action="book-save" method="POST">
                    <input type="text" name="title" value="<%= book.title %>">
                    <input type="text" name="author" value="<%= book.author %>">
                    <input type="text" name="description" value="<%= book.description %>">
                    <input type="text" name="thumbnail" value="<%= book.thumbnail %>">
                    <input id="inputBox" type="button" text="saveBook">
                </form>
            </div>
            <% }); %>
    </main>
</body>